*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;

    padding: 10rem;
    
}

.container
{
    
    height: 100%;
    width: 100%;
   
    
    background-color: cadetblue;

    display: grid;
    grid-template-rows: repeat(2,200px);
    grid-template-columns: repeat(2,200px);

    justify-content: end;
    
    
}

.box
{
    background-color: darkkhaki;
}

