*
{
    margin: 0;
}
.container
{
    background-color: aqua;
    height: 700px;
    width: 700px;
    display: flex;

    justify-content: center;

    align-items: center;
}

.box
{
    background-color: bisque;
    height: 300px;
    width: 300px;
    
   /* box-shadow: red 10px 10px 5px; */


    /* box-shadow: 0px 0px 10px 10px rgb(160, 160, 171); */

    box-shadow: inset 10px 10px 5px  blue;
}