*
{
    margin: 0;
}

.container
{
    background-color: aqua;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.box
{
    background-color: darkcyan;
    height: 300px;
    width: 300px;



    transition-property: all;
    transition-duration: 3s;
   transition-timing-function: ease-in;
   
}

.box:hover{
    background-color: lightsalmon;

     border-radius: 50%;
}