h1{
    background-color: aqua;

    border-width: 2px;
    border-style: solid;
    border-color: blue;

    height: 300px;
    width: 400px;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;

    
    margin: 10px 20px 30px 40px; 
    
}

ul{
    background-color: pink;
}

p{
    background-color: gainsboro;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    

    border-radius: 5px;


    padding: 10px 20px 10px 15px;
    
}

h4{
    border-style: solid;
    border-width: 5px 10px 15px 20px;


}