*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
}
.container
{
    
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.box
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

    animation-name: my_animation;

    animation-duration: 5s;

    position: relative;

    animation-timing-function: linear;

    /* animation-direction: alternate-reverse; */

    animation-iteration-count: infinite;
    animation-direction: normal;
}

/* @keyframes my_animation
{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(800px);
    }
} */



@keyframes my_animation
{
    0%
    {
        transform: translate(0,0);
    }
    25%
    {
        transform: translate(40vw,-35vh);
    }
    50%
    {
        transform: translate(80vw,0);
    }
    75%
    {
        transform: translate(40vw,35vh);
    }
    100%
    {
        transform: translate(0,0);
    }
}