*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container
{
    background-color: beige;

    height: 100%;
    width: 100%;

    display: grid;

    grid-template-columns: repeat(3,1fr);
    gap: 1rem;

    padding-top: 5rem;
    padding-left: 5rem;

}

.box
{
    background-color: cadetblue;

    height: 8rem;
    width: 8rem;

    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 3s;
    border: solid black 3px;
}

.box1:hover
{
    transform: rotateX(60deg);
}

.box2:hover
{
    transform: rotateY(60deg);
}
.box3:hover{
    transform: rotateZ(60deg);
}

.box4:hover{
    transform: translateX(200px);
}

.box5:hover{
    transform: translateY(200px);
}

.box6:hover{
    transform:  perspective(400px) translateZ(100px);
}

.box7:hover{
    transform: scaleX(2);
}

.box8:hover{
    transform: scaleY(2);
}

.box9:hover{
    transform:  perspective(400px) scaleZ(5) rotateY(45deg);

}