*
{
    margin: 0px;
}

.container
{
    height: 700px;

    background-color: bisque;

    display: flex;

    flex-direction: row;

    /* justify-content: center; */

    /* align-items:center; */

    
    /* flex-wrap: wrap-reverse; */


    flex-wrap: wrap;

    align-content: space-evenly;


}

/* do axis hote h humare paas main and cross  */
/* agar maine kia flex-direction row toh main axis horizontal wali hogi aur cross ais uske perpendicular  */
/* agar maine kiya flex-firection column toh main axis vertical wali hogi aur cross axis uske perpendicular  */
/* flex firection hume help karta h main axis ke alng content ko align karne ke lie  */
/* align itmes works for cross axis  */

/* stretch unko parent ki height tak stretch kar deta h jab hum align items : strtech likhte h toh  */

/* align content crooss axis ke laong kaam karta h aur yeh handle karne ke lie hota multiple rows ko bhai  */

.box
{
    height: 150px;
    width: 150px;

    border: 2px solid black;

    margin: 5px;
}

.box1
{
    background-color: darkgray;
}

.box2
{
    background-color: cornflowerblue;
}

.box3
{
    background-color: darkseagreen;
}

.box4
{
    background-color: aqua;
}