*
{
    margin: 0;
}


.container
{
    background-color: bisque;
    height: 500px;
    display: flex;
    align-items: baseline;
}

.box1
{
    font-size: 50px;
    
}

.box2
{
    font-size: 25px;
    
}