*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.container
{
    height: 50vw;
    width: 50vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    border: solid red 3px;
}

.black
{
    background-color: black;
}

.white
{
    background-color: white;
}



