.container
{
    background-color: beige;
    height: 700px;

    display: flex;

    /* flex-direction: column; */

    justify-content: center;
    align-items: center;
}

.box
{
    height: 150px;
    width: 150px;
    
}
/* now learning properties on flex items bhai  */
/* order allows to arranges child elements in order we want by default everyone have 0  */
/* order -ve jitna jyad utna aage aayega wo  */
/* agar +ve me dnege toh sabse last whi aayega  */


/* flex grow will allocate the left out space and by default everyone one have 0 value  */
/* it i give box1 value 1 and box2 value 3 then empty spavce will be distrubuted in 1:3 ratio */

.box1
{
    background-color: cadetblue;

    /* flex-grow: 2; */
}

.box2
{
    background-color: fuchsia;
    /* order: 3; */

    /* flex-grow: 1; */

    /* flex-shrink: 3; */
    align-self: flex-start;
}

.box3
{
    background-color: lavender;
    /* order: -1; */

    /* flex-basis: auto; */
    /* this will overwrite the width */
}

.box4
{
    background-color: salmon;

    /* flex-shrink: 2; */

    align-self: flex-end;
}