*
{
    margin: 0;
    padding: 0;
}

.upper_section
{
    background-color: #c93a55;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.heading
{
    color: white;
}

.links
{
    height: 100%;
    border: none;
    background: none;
    margin-right: 1em;
    color: white;
    cursor: pointer;
    font-size: 1em;
}


.heading
{
    padding: 0.5em;
}

.searchbar
{
    display: flex;
    justify-content: center;
    background-color: #b5a1a5;
    height: 5rem;
    align-items: center;
   
}


.searching_section
{
    width: 40em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    
    
}

.search_functionality
{
    width: 70%;
    height: 70%;
    border-radius: 0.5em;
}

.search_things
{
    height: 70%;
    background: none;
    border: none;

    background-color: #d95b74;
    width: 4em;

    border-radius: 10%; 
    color: white;
    cursor: pointer;
}

input{
    text-align: center;
}

.more
{
    display: flex;
    flex-wrap: wrap;
}

.hero
{
    height: 8rem;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Sala_de_cine.jpg/500px-Sala_de_cine.jpg);
   background-size: cover;
   
   
}

.book
{
    width: 5rem;
    height: 2rem;
    border: none;
    background-color: #d95b74;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
}
.website_logo
{
    color: white;
}


.title
{
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}


.card
{
   height: 25rem;
   

   margin: 1rem;
   width: 18em;

   background-color: #c9beb5;

   border-radius: 0.5rem;

   border: 0.5rem  solid rgb(193, 173, 173);

   flex : 0 0 auto;
   
}

.img
{
    height: 90%;
    width: 100%;
}

.movie_title
{
    width: 100%;
    text-align: center;

    font-size: 1.3rem;

}

.movie_container
{
    display: flex;
    overflow: auto;
    width: 100%;
}

.image_footer
{
    width: 100%;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.footer_img
{
    width: 80%;
}

.intro
{
    text-align: center;
}

@media (max-width:600px)
{
    .upper_section
    {
        flex-direction: column;
        align-items: center;

    }
    .more
    {
        flex-direction: column;
    }
    .movie_container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

